/* Fonts */
@font-face {
	font-family: 'rampage-monoline';
	src: url('../../fonts/rampage-monoline.woff2') format('woff2'),
		 url('../../fonts/rampage-monoline.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'roboto';
	src: url('../../fonts/roboto.woff2') format('woff2'),
		 url('../../fonts/roboto.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

title {
	font-family: 'rampage-monoline', sans-serif;
}

/* Header */
header {
	background: #1e5c8f; /* Deep navy blue */
	color: #eef6fc; /* Light text */
	padding: 15px 20px;
	position: sticky; /* Sticks to the top when scrolling */
	top: 0;
	z-index: 1000; /* Stays above other elements */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header nav ul li a img {
	width: 30px;
	height: 30px;
	margin-right: 4px;
	vertical-align: middle;
}

nav ul {
	list-style: none; /* Removes default list styling */
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center; /* Centers navigation items */
}

nav ul li {
	margin-right: 15px;
}

nav ul li a {
	font-family: 'rampage-monoline', sans-serif;
	font-size: 30px;
	color: #a9d3f5; /* Lighter blue */
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 5px;
	transition: background 0.3s ease, transform 0.2s ease;
}

nav ul li a:hover {
	background: #133653; /* Slightly darker blue */
	transform: scale(1.05);
}

/* General Styling */
body {
	font-family: 'roboto', sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.6;
	color: #001729; /* Light blue text */
	background: linear-gradient(to bottom, #6daae4, #175792, #571194); /* Gradient background */
}

h1, h2, h3 {
	font-family: 'rampage-monoline', sans-serif;
	color: #eef6fc; /* Light text for headings */
	text-align: center;
}

/* Section Styling */
section {
	padding: 40px 20px;
	margin: 20px auto;
	max-width: 60%; /* Centers section content */
	background: #414141; /* Medium blue */
	border-radius: 10px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
	color: #eef6fc;
	border-left: 3px solid #e7df69;
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateX(10px);
}

/* Section Sizing */
section.title {
	width: 30%;
}

/* Buttons and Links */
.button {
	display: inline-block;
	text-decoration: none;
	color: #eef6fc; /* Light blue text */
	background: #1b4e7e; /* Dark blue button */
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s ease, transform 0.2s ease;
}

.button:hover {
	background: #17456a; /* Slightly darker navy */
	transform: scale(1.05);
}

/* Footer */
footer {
	text-align: center;
	padding: 15px 0;
	background: #366c99; /* Deep navy blue */
	color: #eef6fc;
}

canvas {
	position: fixed;
	top: 0;
	left: 0;
}

#bg1 {
	z-index: -1; /* Places canvas in the background */
	filter: blur(1px); /* Adds blur effect */
}

/* Responsive Typography */
@media screen and (min-width: 500px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2rem;
	}
}
